@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Bold.eot');
  src: url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FiraSans-Bold.woff2') format('woff2'),
      url('../fonts/FiraSans-Bold.woff') format('woff'),
      url('../fonts/FiraSans-Bold.ttf') format('truetype'),
      url('../fonts/FiraSans-Bold.svg#FiraSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Medium.eot');
  src: url('../fonts/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FiraSans-Medium.woff2') format('woff2'),
      url('../fonts/FiraSans-Medium.woff') format('woff'),
      url('../fonts/FiraSans-Medium.ttf') format('truetype'),
      url('../fonts/FiraSans-Medium.svg#FiraSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.eot');
  src: url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik-Regular.woff2') format('woff2'),
      url('../fonts/Rubik-Regular.woff') format('woff'),
      url('../fonts/Rubik-Regular.ttf') format('truetype'),
      url('../fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Italic.eot');
  src: url('../fonts/Rubik-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik-Italic.woff2') format('woff2'),
      url('../fonts/Rubik-Italic.woff') format('woff'),
      url('../fonts/Rubik-Italic.ttf') format('truetype'),
      url('../fonts/Rubik-Italic.svg#Rubik-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.eot');
  src: url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik-Medium.woff2') format('woff2'),
      url('../fonts/Rubik-Medium.woff') format('woff'),
      url('../fonts/Rubik-Medium.ttf') format('truetype'),
      url('../fonts/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.eot');
  src: url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik-Bold.woff2') format('woff2'),
      url('../fonts/Rubik-Bold.woff') format('woff'),
      url('../fonts/Rubik-Bold.ttf') format('truetype'),
      url('../fonts/Rubik-Bold.svg#Rubik-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
$primarycolor:#ff3c00;
$color:black;
$color1:white;
$color2:#6d6d6d;
$colors:#e8e8e8;
$colorf:#d3d3d4;
$colorb:#f4f7fc;
$background1:#221f32c9;
$colorc:#676b7a;
$rgba1:rgb(231 92 53 / 82%);
$rgba2:rgb(248 99 31 / 59%);
$round1:#ff6b3d85;
$round2:#ff3c0078;
$footerb:#252628;
*{
  margin:0px;
  padding:0px;
}
body{
  font-size:16px;
  font-family:"Fira Sans";
}
*, html
{
	scrollbar-color:$primarycolor $color1 !important;
	scrollbar-width: thin !important;  
	outline: unset;
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: $color1;
}
::-webkit-scrollbar-thumb {
  background: $primarycolor;  
}
::-webkit-scrollbar-corner {
  background: $color;
}
h3{
  font-size:20px;
  font-weight:bold;
}
h2{
  text-transform:capitalize;
  color:$color;
  font-size:37px;
  line-height:45px;
  font-weight:bold;
  margin-top:0px;
  @media(min-width:320px) and (max-width:480px){
    font-size:26px;
    line-height:30px;
  }
}
h4{
  font-size:17px;
  color:$primarycolor;
  margin-bottom:5px;
  @media(min-width:320px) and (max-width:480px){
    padding-top:30px;
  }
}
p{
  font-size:16px;
  font-family:rubik;
  font-weight:normal;
  color:$color2;
}
.button{
  background:$primarycolor;
  color:$color1;
  font-size:16px;
  font-family:rubik;
  padding:15px 25px 12px 25px;
  font-weight:500;
  &:hover{
    background:$color2;
    color:$primarycolor;
  }
}
.trapezoidal{
  border-top: 4px solid $primarycolor;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	height:0px;
	width:50px;
}
/*navbar start*/
.custom-navbar{
  margin-bottom:5px;
}
.custom-header{
  margin-top:30px;
  .navbar-inverse{
    background:none;
    border:none;
  }
  .navbar-nav{
    margin-top:-11px;
    li{
      font-size:17px;
      font-family:"Fira Sans";
      font-weight: 500;
      a{
        color:$color;
        background:none;
        &:hover,&.active{
          color:$primarycolor;
        }
        i{
          color:$primarycolor;
        }
        @media(min-width:320px) and (max-width:480px){
          margin-top:8px;
        }
      }
    }
  }
  .navbar-inverse{
    .navbar-toggle{
      @media(min-width:320px) and (max-width:480px){
        background:$primarycolor;
        border-color:$primarycolor;
        margin-top:0px;
      }
      .icon-bar{
        background-color:$color2;
      }
    }
  }
}
/*navbar end*/
/*carousal start*/
.custom-carousal{
  margin: 0px -15px;
  .carousel-inner{
    background:url("../images/slider-bg-new1.jpg") no-repeat 0px 0px /cover;
    height:700px;
    position:relative;
    margin-bottom:260px;
    @media(min-width:320px) and (max-width:480px){
      margin-bottom:46px;
    }
  }
  .item{
   img{
      width:650px;
      height:700px;
      position:absolute;
      left:50%;
      padding-top:2%;
      @media(min-width:320px) and (max-width:480px){
        width:100%;
        left:16%;
      }
    }
    .carousel-caption{
      color:$color;
      width:700px;
      text-shadow:none;
      padding-top:150px;
      left:-15%;
      text-align:left;
      bottom:auto;
      @media(min-width:320px) and (max-width:480px){
        left:0px;
        width:80%;
      }
      h4{
        font-size:21px;
        border-top:2px solid $primarycolor;
        width:365px;
        color:$color;
        padding-top:2px;
        font-family:"Fira Sans";
        font-weight:bold;
        letter-spacing:1px;
        margin-bottom:10px;
        @media(min-width:320px) and (max-width:480px){
          font-size:17px;
          width:300px;
        }
      }
      h1{
        font-size:60px;
        line-height:72px;
        font-family:"Fira Sans";
        font-weight:bold;
        @media(min-width:320px) and (max-width:480px){
          font-size:32px;
          line-height:40px;
        }
      }
      p{
        font-size:20px;
        padding:15px 0px 40px 0px;
        font-family:rubik;
        width:530px;
        color:$color2;
        @media(min-width:320px) and (max-width:480px){
          width:100%;
          font-size:19px;
          padding-bottom:30px;
        }
      }
      h5{
        font-size:18px;
        font-family:rubik;
        font-weight:500;
        i{
          color:$color1;
          margin-right:27px;
          background:$primarycolor;
          border-radius:100%;
          display:inline-block;
          padding:13px 14px;
          font-size:27px;
        }
      }
    }
  }
  .ractangle{
    img{
      position:absolute;
      top:27%;
      left:83%;
      @media(min-width:320px) and (max-width:480px){
        top:10%;
        left:83%;
      }
    }
  }
  .line{
    img{
      position:absolute;
      top:50%;
      left:14%;
      @media(min-width:320px) and (max-width:480px){
        top:17%;
        left:19%;
      }
    }
  }
  .circle{
    img{
      position:absolute;
      top:11%;
      left:-6%;
      @media(min-width:320px) and (max-width:480px){
        left:1%;
      }
    }
  }
  .carousel-indicators li{
    background:$color2;
    border:0px;
    width:15px;
    height:15px;
    &.active{
      background:$primarycolor;
    }
  }
  .carousel-indicators{
    bottom:14%;
    @media(min-width:320px) and (max-width:480px){
      top:34%;
    }
  }
  .carousel-control{
    width:2%;
    opacity:5;
    @media(min-width:320px) and (max-width:480px){
      width:6%;
    }
  }
  .carousel-control.right,.carousel-control.left {
    background-image:none;
  }  
  .glyphicon-chevron-left,.glyphicon-chevron-right{
    color:$primarycolor;
    font-size:40px;
    width:50px;
    height:50px;
    padding:6px;
    @media(min-width:320px) and (max-width:480px){
      font-size:35px;
      top:18%;
      width:40px;
      height:40px;
    }
  }
}
/*carousal end*/
/*system start*/
.system{
  position:absolute;
  bottom:-23%;
  left:7%;
  .software{
    padding:50px 0px 25px 0px;
    text-align:center;
    background:$color1;
    box-shadow: 2px 9px 30px $colors;
    i{
      color:$primarycolor;
      font-size:50px;
      padding-bottom:10px;
    }
    p{
      padding:5px 30px 0px 30px;
      color:$color2;
      padding-top:10p
    }
  }
  @media(min-width:320px) and (max-width:480px){
    position:unset;
    margin-top:-110px;
    .software{
      margin-bottom:40px;
    }
  }
}
/*system end*/
/*deal start*/
.deal{
  margin-bottom:80px;
  span{
    color:$primarycolor;
  }
  h2{
    margin-bottom:18px;
  }
  p{
    padding:20px 0px 0px 0px;
    line-height:25px;
  }
  .value{
    padding-bottom:10px;
  }
  ul{
    border-bottom:1px solid $colors;
    padding:10px 0px 17px 0px;
    li{
      list-style:none;
      width:262px;
      padding-bottom:15px;
      font-family:rubik;
      font-weight:500;
      color:$color2;
      font-size:16px;
      display:inline-block;
    }
  }
  i{
    font-size:18px;
    padding-right:10px;
    color:$color2;
    font-weight:bold;
  }
  .call{
    color:$color2;
    font-size:18px;
    font-family:rubik;
    span{
      color:$primarycolor;
      text-decoration:underline;
    }
    .number{
      color:$color2;
      font-weight:bold;
      text-decoration:none;
    }
  }
  img{
    width:100%;
  }
}
/*deal end*/
/*technology start*/
.technology{
  background:$colorb;
  margin:0px -15px;
  padding-bottom:110px;
  text-align:center;
  h4{
    margin-top:80px;
  }
  h2{
    width:675px;
    margin:0px auto;
    padding-bottom:20px;
    @media(min-width:320px) and (max-width:480px){
      width:100%;
    }
  }
  .trapezoidal{
    margin:0px auto;
    padding:15px 0px 0px 0px;
  }
  .kind{
    margin-top:40px;
    .design{
      padding:23px 30px 25px 30px;
      background:$color1;
      h3{
        font-size:23px;
        padding-bottom:23px;
      }
      a{
        text-decoration:none;
        color:$color2;
      }
      i{
        font-size:36px;
        color:$color1;
        background:$primarycolor;
        padding-top:19px;
        margin-bottom:25px;
        width:70px;
        height:70px;
      }
      .btn{
        background:none;
        color:$color2;
        i{
          background:none;
          font-size:15px;
          width:0;
          height:0;
          padding:0;
          color:$color2;
          margin-left:5px;
          font-weight:bold;
        }
      }
      &:hover ,&.active{
        background:$primarycolor;
        color:$color1;
        p,.btn,a{
          color:$color1;
          i{
            color:$color1;
          }
        }
        i{
          background:$color1;
          color:$primarycolor;
        }
      }
      @media(min-width:320px) and (max-width:480px){
        margin-bottom:30px;
      }
    }
  }
  @media(min-width:320px) and (max-width:480px){
    padding-bottom:50px;
  }
}
/*technology end*/
/*experience start*/
.experience{
  margin:0px -15px;
  background:url("../images/home1-halfbg-scaled.jpg") no-repeat 0px 0px /cover;
  height:840px;
  @media(min-width:320px) and (max-width:480px){
    height:auto;
  }
  .choose{
    padding-top:80px;
    .year{
      img{
        width:100%;
      }
    }
    .analysis{
      margin-left:30px;
      @media(min-width:320px) and (max-width:480px){
        margin-left:0px;
      }
      h4{
        margin-top:30px;
      }
      h2{
        color:$color1;
        padding-bottom:5px;
      }
      span{
        color:$primarycolor;
      }
      p{
        color:$colorf;
        padding:30px 0px 3px 0px;
      }
      .datas{
        position:relative;
        padding-top:17px;
        border-bottom:1px solid $color2;
        p{
          padding:6px 0px 10px 0px;
          margin-left:95px;
        }
        h3{
          color:$color1;
          margin-left:95px;
          font-family:rubik;
          font-weight:500;
        }
        i{
          color:$color1;
          font-size:30px;
          border:1px solid $color1;
          width:70px;
          height:70px;
          text-align:center;
          padding-top:20px;
          position:absolute;
          top:25%;
          left:0px;
        }
      }
      .skill{
        border:0px;
      }
    }
  }
}
/*experience end*/
/*team start*/
.team{
  background:url("../images/team-bg.jpg") no-repeat 0px 0px /cover;
  margin:0px -15px;
  height:775px;
  padding-top:70px;
  @media(min-width:320px) and (max-width:480px){
    height:auto;
    padding-top:30px;
  }
  P{
    font-size:18px;
  }
  .teammates{
    padding-top:70px;
    .group{
      @media(min-width:320px) and (max-width:480px){
        margin-bottom:30px;
      }
      img{
        width:100%;
        position:relative;
      }
      .names{
        box-shadow: 4px 4px 8px $colors;
        position:absolute;
        bottom:-14%;
        left:13%;
        background:$color1;
        padding:5px 0px 20px 0px;
        text-align:center;
        width:290px;
        border-radius:5px;
        h5{
          color:$color2;
          font-family:rubik;
          font-size:13px;
        }
        @media(min-width:320px) and (max-width:480px){
          bottom:0px;
          left:15%;
          width:70%;
        }
      }
    }
  }
}
/*team end*/
/*deliverstart*/
.deliver{
  margin:0px -15px;
  background:url("../images/intro-img2.jpg") no-repeat 0px 0px /cover;
  height:665px;
  position:relative;
  text-align:center;
  padding-top:65px;
  @media(min-width:320px) and (max-width:480px){
    height:500px;
    padding-top:40px;
  }
  .round{
    position:relative;
    background:$colorc;
    width:140px;
    height:140px;
    border-radius:100%;
    margin:0px auto;
    i{
      color:$primarycolor;
      background:$color1;
      width:85px;
      height:85px;
      border-radius:100%;
      font-size:27px;
      padding-top:30px;
      margin-top:30px;
    }
  }
  h2,p{
    color:$color1;
    padding-top:5px;
    width:630px;
    margin:0px auto;
    position:relative;
    z-index:1;
    @media(min-width:320px) and (max-width:480px){
      width:100%;
    }
  }
  p{
    width:350px;
    padding-top:20px;
    @media(min-width:320px) and (max-width:480px){
      width:100%;
    }
  }
  .btn{
    position:relative;
    padding:12px 28px 9px 28px;
    z-index:1px;
    background:$primarycolor;
    color:$color1;
    margin-top:35px;
    font-size:17px;
    &:hover{
      background:$color1;
      color:$primarycolor;
    }
  }
}
.deliver::before{
  position:absolute;
  content:'';
  background:$background1;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
/*deliver end*/
/*business start*/
.business{
  background:$colorb;
  position:relative;
  height:400px;
  margin:0px -15px;
  @media(min-width:320px) and (max-width:480px){
    height:unset;
    padding-bottom:60px;
  }
  .request{
    position:absolute;
    bottom:27%;
    left:6%;
    @media(min-width:320px) and (max-width:480px){
      position:unset;
    }
   .consultation{
    background:$color1;
    padding:25px 50px 30px 39px;
    box-shadow:1px 3px 4px $colors;
    text-align:center;
    @media(min-width:320px) and (max-width:480px){
      padding:25px 15px 20px 15px;
    }
    h3{
      color:$color;
      font-size:25px;
    }
    .converge{
      line-height:35px;
      padding-top:30px;
      @media(min-width:320px) and (max-width:480px){
       padding-top:0px;
      }
    }
    p{
      color:$color2;
      width:auto;
      padding-top:3px;
    }
   }
   .free{
      padding-right:0px;
      @media(min-width:320px) and (max-width:480px){
        padding-right:15px;
      }
    }
    .control{
      padding-left:0px;
      @media(min-width:320px) and (max-width:480px){
        padding-left:15px;
      }
      .last-carousal{
        .carousel-inner{
          .meet{
            img{
              width:100%;
              height:396px;
            }
          }
          .meet::before{
            content:"";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background:$rgba1;
          }
          .item{
            position:absolute;
            width:385px;
            left:18%;
            height:100px;
            bottom:0%;
            top:27%;
            text-align:center;
            @media(min-width:320px) and (max-width:480px){
              left:2%;
              width:100%;
            }
            .staff{
              text-align:center;
              img{
                width:85px;
                height:85px;
                text-align:center;
                margin-bottom:30px;
                border-radius:100%;
                @media(min-width:320px) and (max-width:480px){
                  margin-bottom:3px;
                }
              }
            }
            p{
              width:auto;
              font-size:15px;
              padding:0px 0px 15px 0px;
              color:$color1;
              font-style:italic;
              @media(min-width:320px) and (max-width:480px){
                padding:10px 15px 5px 15px;
                width:100%;
              }
            }
            h4,h5{
              color:$color1;
              font-size:19px;
              @media(min-width:320px) and (max-width:480px){
                padding-top:0px;
              }
            }
            h5{
             font-size:16px;
            }  
          }
        }
        .carousel-control.right,.carousel-control.left {
          background-image:none;
        }  
        .glyphicon-chevron-left,.glyphicon-chevron-right{
          color:$color1;
          font-size:40px;
        }
      }
    }
  }
}
/*business end*/
/*building start*/
.building{
  background:url("../images/pexels-johannes-plenio-1632788.jpg") no-repeat 0px 0px /cover;
  margin:0px -15px;
  height:215px;
  position:relative;
  @media(min-width:320px) and (max-width:480px){
    height:350px;
  }
 .study{
    padding-top:80px;
    @media(min-width:320px) and (max-width:480px){
      padding-top:40px;
    }
    h4,h2,p{
      color:$color1;
    }
    h2{
      font-size:33px;
    }
    h4{
      margin-top:0px;
    }
    p{
      font-size:18px;
      @media(min-width:320px) and (max-width:480px){
        margin-top:25px;
      }
    }
  }
}
.building::before{
  position:absolute;
  content:"";
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:$rgba2;
}
/*business end*/
/*workplace start*/
.workplace{
  text-align:center;
  margin:15px 0px 110px 0px;
  @media(min-width:320px) and (max-width:480px){
    margin-bottom:5px;
  }
  li{
    display:inline-block;
    list-style:none;
    padding-left:25px;
    img{
      width:300px;
      height:375px;
      @media(min-width:320px) and (max-width:480px){
        width:100%;
        height:auto;
      }
    }
    @media(min-width:320px) and (max-width:480px){
      padding-left:0px;
      margin-bottom:30px;
    }
  }
  .syber,.sybers{
    img{
      width:155px;
      height:375px;
      @media(min-width:320px) and (max-width:480px){
        width:100%;
        height:auto;
      }
    }
  }
  .sybers{
    padding-left:0px;
  }
}
/*workplace end*/
/* plan start*/
.plan{
  text-align:center;
  margin:0px -15px;
  padding-bottom:200px;
  span{
    color:$primarycolor;
  }
  .trapezoidal{
    margin:0px auto;
    margin-top:20px;
  }
  .customers{
    padding-top:55px;
    .customplan{
      text-align:center;
      @media(min-width:320px) and (max-width:480px){
        margin-bottom:55px;
      }
      .marketing{
        position:relative;
        border:1px solid $color1;
        box-shadow: 7px 7px 26px $colors;
        border-radius:100%;
        padding:13px 12px 10px 10px;
        width:210px;
        height:210px;
        @media(min-width:320px) and (max-width:480px){
          margin:0px auto;
        }
        img{
          border-radius:100%;
        }
      }
      p{
        padding:5px 5px 0px 5px;
      }
      .rounds{
        position:absolute;
        top:21%;
        left:-5%;
        background:$round1;
        padding:10px 2px 10px 9px;
        border-radius:100%;
        width:78px;
        height:78px;
        @media(min-width:320px) and (max-width:480px){
          left:21%;
        }
        .small{
          background:$round2;
          border-radius:100%;
          width:60px;
          height:60px;
          padding:5px 5px 5px 5px;
          .grade{
            background:$primarycolor;
            border-radius:100%;
            color:$color1;
            padding-top:15px;
            font-size:15px;
            width:50px;
            height:50px;
          }
        }
      }
    }
  }
}
/* plan end*/
/* webite start*/
.website{
  background:$colorb;
  margin:0px -15px;
  padding-bottom:130px;
  position:relative;
  @media(min-width:320px) and (max-width:480px){
    padding-bottom:80px;
  }
  .ownsites{
    position:absolute;
    top:-13%;
    left:6%;
    @media(min-width:320px) and (max-width:480px){
      left:0%;
      top:-7%;
    }
    .creation{
      img{
        width:100%;
      }
      box-shadow:-8px -4px 13px $colors;
    }
    .build{
      background:$color1;
      box-shadow:11px -5px 7px $colors;
      padding:30px 5px 35px 60px;
      margin:0px -30px;
      @media(min-width:320px) and (max-width:480px){
        width:100%;
        margin:0px;
        padding:20px 15px 20px 15px;
      }
      h2{
        font-size:30px;
        @media(min-width:320px) and (max-width:480px){
          font-size:26px;
        }
        text-align:left;
        font-weight:bold;
      }
      p{
        font-size:17px;
        font-weight:500;
        padding-bottom:25px;
      }
    }
  }
  h4{
    margin-top:210px;
    @media(min-width:320px) and (max-width:480px){
      margin-top:300px;
    }
  }
  h2,h4{
    text-align:center;
  }
  .trapezoidal{
    margin:0px auto;
    margin-top:20px;
  }
  span{
    color:$primarycolor;
  }
  .tips{
    margin-top:55px;
    .admin{
      box-shadow: 2px 4px 14px $colors;
      @media(min-width:320px) and (max-width:480px){
        margin-bottom:30px;
      }
      a{
        text-decoration:none;
        color:$primarycolor;
        font-family:rubik;
      }
      .compliant{
        .glass{
          position:relative;
          img{
            width:100%;
            border-top-left-radius:5px;
            border-top-right-radius:5px;
          }
        }
        .graphics,.technologys,.make,.devlopment{
          position:absolute;
          top:4%;
          left:6%;
          font-size:12px;
          padding:7px 19px 4px 17px;
          border:0px;
          border-radius:3px;
        }
        .technologys{
          position:absolute;
          top:4%;
          left:32%;
        }
      }
      .greatidea{
        background:$color1;
        padding:25px 70px 20px 30px;
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;
        h5{
          color:$color2;
          font-weight:500;
          font-family:rubik;
        }
        h3{
          line-height:27px;
          padding-bottom:5px;
        }
        button{
          padding-top:10px;
          border:0px;
          background:none;
          font-size:16px;
          font-weight:bold;
        }
      }
    }
  }
}
/* website end*/
/* footer start*/
.footer{
  margin:0px -15px;
  background:$footerb;
  color:$color1;
  padding-top:60px;
  @media(min-width:320px) and (max-width:480px){
    padding-top:40px;
  }
  .latest{
    padding-bottom:70px;
    @media(min-width:320px) and (max-width:480px){
      padding-bottom:90px;
    }
    .signup{
      position:relative;
      @media(min-width:320px) and (max-width:480px){
        margin-bottom:30px;
      }
      h3{
        display:inline-block;
        padding-left:80px;
      }
      i{
        color:$primarycolor;
        position:absolute;
        top:10%;
        left:0%;
        font-size:60px;
      }
    }
    .email{
      background:$color1;
      height:55px;
      border-radius:5px;
      input{
        width:400px;
        color:$colorb;
        height:55px;
        color:$color2;
        font-family:rubik;
        padding-left:15px;
        border-color:$color1;
        border-width:0px;
        border-radius:5px;
        @media(min-width:320px) and (max-width:480px){
          width:100%;
        }
      }
      .button{
        padding:13px 29px 9px 29px;
        border-radius: 0px;
        display:inline;
        margin:0px 0px 3px 5px;
        @media(min-width:320px) and (max-width:480px){
          margin-top:20px;
        }
      }
    }
  }
  .contact{
    border-top:1px solid $color2;
    padding:80px 0px 20px 0px;
    @media(min-width:320px) and (max-width:480px){
      padding-top:40px;
    }
    h3{
      margin:0px 0px 37px 0px;
      @media(min-width:320px) and (max-width:480px){
        margin-bottom:20px;
      }
      &:hover{
        color:$primarycolor;
      }
    }
    a{
      color:$colorf;
      text-decoration:none;
      &:hover{
        color:$primarycolor;
      }
    }
    .socialmedia{
      margin-bottom:40px;
      p{
        padding:30px 0px 15px 0px;
        color:$colorf;
      }
      span{
        i{
          border:1px solid $color1;
          text-align:center;
          color:$colorf;
          width:35px;
          height:35px;
          padding-top:9px;
          border-radius:5px;
          margin-right:5px;
          &:hover{
            color:$primarycolor;
          }
        }
      }
    }
    .quick{
      padding:0px;
      margin-bottom:30px;
      @media(min-width:320px) and (max-width:480px){
        padding:0px 15px 0px 15px;
      }
      li{
        list-style:none;
        padding-bottom:15px;
        font-family:rubik;
        i{
          font-size:12px;
          color:$color1;
          margin-right:12px;
        }
      }
    }
    .address{
      padding-left:80px;
      margin-bottom:40px;
      @media(min-width:320px) and (max-width:480px){
        padding-left:15px;
      }
      li{
        font-family:rubik;
        list-style:none;
        span{
          font-weight:bold;
        }
      }
      .street{
        padding-bottom:15px;
      }
      .mailing{
        padding-top:15px;
      }
    }
    .popular{
      margin-bottom:30px;
      .submit{
        position:relative;
        h4{
          color:$color1;
          padding-left:100px;
          line-height:23px;
          @media(min-width:320px) and (max-width:480px){
            padding-top:10px;
          }
        }
        h5{
          padding-left:100px;
          color:$colorf;
          font-family:rubik;
          font-size:12px;
          margin-bottom:20px;
        }
        img{
          width:75px;
          height:75px;
          position:absolute;
          bottom:-7%;
          border-radius:5px;
          @media(min-width:320px) and (max-width:480px){
            width:65px;
            height:65px;
          }
        }
      }
    }
  }
  .finalfooter{
    border-top:1px solid $color2;
    background:$footerb;
    .navbar{
      margin:0px;
    }
    .navbar-default{
        background:$footerb;
        border:0px;
        border-radius:0px;
        .navbar-brand{
          color:$color1;
          font-size:16px;
          font-family:rubik;
          padding:30px 0px 0px 0px;
          &:hover{
            color:$primarycolor;
          }
        }
        .navbar-nav{
          padding-top:15px;
          font-family:rubik;
          a{
            color:$color1;
            font-size:14px;
            &:hover{
              color:$primarycolor;
            }
          }
        }
    }
  }
}
/*footer end*/

