/* Mobile portrait view responsive code start */
@media (min-width:320px) and (max-width:480px)
{
	.containerwidth
	{
		width:100%;
	}
	.heading
	{
		font-size:20px;
		line-height:26px;
		padding-top:0px;
		padding-bottom:0px;
}
	.subheading
	{
		font-size:14px;
		padding-bottom:0px;
	}
	/*headingcontainer start*/
	.headingcontainer
	{
		width:100%;
	}
	.headingcontainer .aboutcontainer
	{
		font-size:14px;
		width:98%;
	}
	.headingcontainer .aboutcontainer .mainaddress,.headingcontainer .aboutcontainer .home,.headingcontainer .aboutcontainer .socialmedia
	{
		float:none;
		padding:0px 15px;
	}
	.headingcontainer .aboutcontainer .home
	{
		padding:5px 15px 5px 15px;
	}
	.headingcontainer .aboutcontainer .socialmedia
	{
		padding:0px 2px;
		padding-top:5px;
	}
	/*headingcontainer end*/
	/*headercontainer start*/
	.headercontainer
	{
		display:block;
		width:99%;
		padding:20px 0px 10px 0px;
	}
	.headercontainer .logocontainer
	{
		padding:0px 15px;
		float:none;
	}
	.headercontainer .logocontainer img
	{
		width:30%;
	}
	.headercontainer .menucontainer
	{
		padding:0px 15px;
		float:none;
	}
	.headercontainer .menucontainer ul li
	{
		display:block;
		font-size:15px;
		padding:10px 0px;
	}
	.headercontainer .menucontainer li:nth-child(9) a
	{
		padding:10px;
		font-family:var(--fonth);
		font-size:13px;
		margin-left:0px;
	}
	/*headingcontainer end*/
	/*bannercontainer start*/
	.bannercontainer
	{
		width:100%;
	}
	.bannercontainer .bannerinner
	{
		width:100%;
		padding:30px 0px 30px 0px;
	}
	.bannercontainer .bannerinner .bannertext
	{
		width:50%;
		padding:0px 15px;
		padding-bottom:
	}
	.bannercontainer .bannerinner .bannertext h1
	{
		font-size:20px;
		line-height:26px;
		padding-bottom:10px;
	}
	.bannercontainer .bannerinner .bannertext p
	{
		font-size:15px;
		line-height:21px;
		width:100%;
	}
	.bannercontainer .bannerinner .bannertext .button ul li
	{
		padding-top:0px;
		margin-bottom:40px;
		float:none;
	}
	.bannercontainer .bannerinner .bannertext .button ul li a
	{
		font-size:15px;
		float:none;
		padding:15px 15px 15px 15px;
		margin-bottom:10px;
	}
	/*bannercontainer end*/
	/*featurecontainer start*/
	.featurecontainer
	{
		width:100%;
	}
	.featurecontainer .feature
	{
		width:100%;
		background-position:500px;
		padding:20px 0px 30px 0px;
	}
	.featurecontainer .feature .featurecontent
	{
		width:40%;
		margin-left:52%;
	}
	.featurecontainer .feature .featurecontent h4
	{
		font-size:13px;
		padding-bottom:10px;
	}
	.featurecontainer .feature .featurecontent h2
	{
		font-size:20px;
		line-height:26px;
		padding-top:0px;
		padding-bottom:10px;
	}
	.featurecontainer .feature .featurecontent p
	{
		font-size:15px;
		line-height:21px;
		padding-bottom:10px;
	}
	.featurecontainer .feature .featurecontent .morefeature a
	{
		font-size:14px;
		padding:15px;
	}
	/*featurecontainer end*/
	/*servicecontainer start*/
	.servicecontainer
	{
		width:100%;
		padding:20px 0px 0px 0px;
	}
	.servicecontainer .mainteancecontainer
	{
		padding:0px 15px;
	}
	.servicecontainer .mainteancecontainer .mainbox
	{
		float:none;
		width:100%;
		padding-top:20px;
		margin-bottom:20px;
	}
	.servicecontainer .mainteancecontainer .mainbox span
	{
		left:30px;
		bottom:70px;
	}
	.servicecontainer .mainteancecontainer .mainbox p
	{
		left:30px;
		bottom:30px;
	}
	/*servicecontainer end*/
	/*workingcontainer start*/
	.workingcontainer
	{
		width:100%;
		padding:40px 0px 40px 0px;
		margin:0px;
	}
	.workingcontainer .workingfacility
	{
		width:90%;
		padding:0px 15px;
	}
	.workingcontainer .workingfacility .problem
	{
		padding:0px;
		width:100%;
	}
	.workingcontainer .workingfacility .problem .facility
	{
		float:none;
		width:100%;
		margin-left:0px;
	}
	.workingcontainer .workingfacility .problem .facility p
	{
		font-size:15px;
		line-height:26px;
		padding-bottom:35px;
	}
	.workingcontainer .workingfacility .problem .facility h3
	{
		font-size:20px;
		padding-bottom:15px;
	}
	.workingcontainer .workingfacility .problem .facility .schedule
	{
		padding:0px;
	}
	.workingcontainer .workingfacility .problem .facility .schedule .schedule1
	{
		margin-right:0px;
	}
	.workingcontainer .workingfacility .problem .facility .schedule .schedule2
	{
		width:90%;
		margin-right:0px;
	}
	.workingcontainer .workingfacility .problem .facility .schedule .schedule2 p
	{
		padding-bottom:8px;
	}
	.workingcontainer .workingfacility .problem .facility .schedule .schedule1 span i
	{
		font-size:14px;
	}
	.workingcontainer .workingfacility .problem .facility .schedule .about
	{
		padding:20px 0px 30px 0px;
	}
	.workingcontainer .workingfacility .problem .facility .schedule .about a
	{
		font-size:15px;
		padding:15px;
	}
	.workingcontainer .workingfacility .problem .solving
	{
		float:none;
		width:100%;
		padding:0px;
	}
	.workingcontainer .workingfacility .problem .solving img
	{
		width:100%;
	}
	.workingcontainer .workingfacility .problem .solving .main
	{
		width:200px;
		padding:20px 20px 20px 20px;
		left:30px;
		bottom:10px;
	}
	.workingcontainer .workingfacility .problem .solving .main .detail img
	{
		width:70%;
	}
	.workingcontainer .workingfacility .problem .solving .main .correct h4
	{
		font-size:25px;
	}
	.workingcontainer .workingfacility .problem .solving .main .correct p
	{
		font-size:16px;
	}
	/*workingcontainer end*/
	/*appionmentcontainer start*/
	.appionmentcontainer
	{
		padding:40px  0px 40px 0px;
		width:100%;
	}
	.appionmentcontainer .openappionment
	{
		width:90%;
		margin:0px;
		padding:0px 15px;
	}
	.appionmentcontainer .openappionment .booking1
	{
		float:left;
		width:100%;
	}
	.appionmentcontainer .openappionment .booking2
	{
		float:none;
		width:100%;
	}
	.appionmentcontainer .openappionment .booking1 .logo
	{
		padding-bottom:20px;
	}
	.appionmentcontainer .openappionment .booking1 .logo span i
	{
		padding:20px;
	}
	.appionmentcontainer .openappionment .booking1 .dolor
	{
		float:right;
		width:100%;
		margin-right:0px;
	}
	.appionmentcontainer .openappionment .booking1 .dolor h2
	{
		font-size:20px;
		padding-bottom:20px;
	}
	.appionmentcontainer .openappionment .booking1 .dolor p
	{
		font-size:15px;
		padding-bottom:20px;
	}
	.appionmentcontainer .openappionment .booking2 .search a
	{
		margin-bottom:20px;
		font-size:14px;
	}
	.appionmentcontainer .openappionment .booking2 .search li:nth-child(2) a
	{
	}
	/*appionmentcontainer end*/
	/*handycontainer start*/
	.handymancontainer
	{
		padding:50px 0px 40px 0px;
		width:100%;
	}
	.handymancontainer .subhandyman
	{
		width:100%;
		padding:0px;
	}
	.handymancontainer .subhandyman p
	{
		margin-left:0px;
		text-align:left;
		width:90%;
		font-size:15px;
		padding:10px 15px 0px 15px;
	}
	/*handycontainer end*/
	/*repaircontainer start*/
	.repaircontainer
	{
		width:100%;
		padding:20px 0px 10px 0px;
		margin:0px;
	}
	.repaircontainer .furniture
	{
		float:none;
		width:90%;
		padding:0px 15px;
		margin-bottom:80px;
	}
	.repaircontainer .furniture a
	{
		font-size:14px;
		padding:15px;
	}
	.repaircontainer .furniture
	{
		margin-left:0px;
	}
	.repaircontainer .furniture .subcontrol
	{
		width:100%;
	}
	.repaircontainer .furniture .subcontrol .subcontrol h2
	{
		font-size:25px;
	}
	.repaircontainer .furniture .subcontrol .subcontrol2 div
	{
		font-size:25px;
		width:100%;
	}
	.repaircontainer .furniture p
	{
		font-size:15px;
		padding:20px 0px 20px 0px;
	}
	/*repaircontainer end*/
	/*callcontainer start*/
	.callcontainer
	{
		width:90%;
		padding:0px 15px;
		margin:0px;
	}
	.callcontainer .callcontainer1
	{
		margin-left:3px;
		float:none;
		width:100%;
		margin:0px;
		padding-bottom:15px;
	}
	.callcontainer .callcontainer2
	{
		width:100%;
		margin-left:0px;
	}
	.callcontainer .callcontainer2 p
	{
		font-size:15px;
		line-height:21px;
		padding-bottom:150px;
	}
	/*callcontainer end*/
	/*dealcontainer start*/
	.dealcontainer
	{
		width:100%;
		margin:0px;
	}
	.dealcontainer .useimage
	{
		width:100%;
		padding:40px 0px 20px 0px;
	}
	.dealcontainer .useimage .contain
	{
		margin:0px;
		width:50%;
		bottom:-5px;
	}
	.dealcontainer .useimage .contain img
	{
		width:100%;
		height:470px;
	}
	.dealcontainer .useimage .usedcontainer
	{
		width:50%;
		margin-right:0px;
		margin-left:0px;
	}
	.dealcontainer .useimage .usedcontainer p
	{
		font-size:14px;
		line-height:21px;
		padding-bottom:10px;
	}
	.dealcontainer .useimage .usedcontainer a
	{
		font-size:14px;
		padding:10px;
	}
	/*dealcontainer end*/
	/*bestcontainer start*/
	.bestcontainer
	{
		padding:60px 0px 50px 0px;
		width:100%;
	}
	.bestcontainer .teamcontainer
	{
		width:100%;
	}
	.bestcontainer .teamcontainer h2
	{
		font-size:20px;
		padding-bottom:40px;
		line-height:10px;
	}
	.bestcontainer .teamcontainer h2 span
	{
		padding-bottom:20px;
		font-size:13px;
	}
	.bestcontainer .teamcontainer .bestcandy
	{
		padding:0px 15px;
	}
	.bestcontainer .teamcontainer .bestcandy .bestcandyman
	{
		float:none;
		width:100%;
		margin-right:0px;
		margin-bottom:20px;
		padding:40px 0px 30px 0px;
	}
	.bestcontainer .teamcontainer .bestcandy .bestcandyman h3
	{
		font-size:20px;
	}
	/*bestcontainer end*/
	.clientcontainer
	{
		width:100%;
		margin:0px;
	}
	.clientcontainer .workercontainer
	{
		width:100%;
		padding-bottom:500px;
		margin:0px;
	}
	.clientcontainer .workercontainer .mainwork
	{
		width:90%;
		padding:0px 15px;
		top:0px;
		margin:0px;
	}
	.clientcontainer .workercontainer .mainwork .workercontainer1,.clientcontainer .workercontainer .mainwork .workercontainer2
	{
		float:none;
		width:100%;
		margin:0px 0px 20px 0px;
		padding:30px 0px 30px 0px;
	}
	.clientcontainer .workercontainer .mainwork .workercontainer2:nth-child(4)
	{
		margin-right:0px;
		margin-left:0px;
		padding:30px 0px 30px 0px;
	}
	.clientcontainer .workercontainer .mainwork .subwork1
	{
		margin-left:30px;
	}
	.clientcontainer .workercontainer .mainwork .subwork2
	{
		margin-left:10px;
	}
	.clientcontainer .workercontainer .mainwork .subparagraph
	{
		width:0px;
		margin-left:0px;
	}

	.clientcontainer .foundercontainer
	{
		width:90%;
		padding:0px 15px;
		margin-top:180px;
	}
	.clientcontainer .foundercontainer .officercontainer .officercontainer1
	{
		float:none;
		margin-bottom:15px;
		margin-right:0px;
		width:240px;
	}
	.clientcontainer .foundercontainer .officercontainer .officercontainer2
	{
		float:none;
		margin-right:0px;
		padding-bottom:10px;
	}
	.clientcontainer .foundercontainer .officercontainer .officercontainer2 a
	{
		text-decoration:none;
		padding:5px 10px 5px 10px;
		margin-right:10px;
	}
	.clientcontainer .foundercontainer .officercontainer .officercontainer2 a i
	{
		font-size:13px;
	}
	.clientcontainer .foundercontainer .staffcontainer
	{
		padding-bottom:40px;
		width:100%;
	}
	.clientcontainer .foundercontainer .staffcontainer .staffcontainerman
	{
		float:none;
		width:100%;
		font-size:15px;
		margin-right:0px;
		margin-bottom:16px;
		padding:20px 0px 20px 0px;
	}
	.clientcontainer .foundercontainer .staffcontainer .staffcontainerman span i
	{
		font-size:20px;
		margin-right:5px;
	}
	.clientcontainer .foundercontainer .staffcontainer .staffcontainerman span i:nth-child(1)
	{
		padding-left:15px;
	}
	.clientcontainer .foundercontainer .staffcontainer .staffcontainerman p
	{
		font-size:15px;
		line-height:24px;
		padding:25px 0px 25px 15px;
	}
	.clientcontainer .foundercontainer .staffcontainer .staffcontainerman .managecontainer .managecontainer1
	{
		padding-left:15px;
	}
	.clientcontainer .foundercontainer .staffcontainer .staffcontainerman .managecontainer .managecontainer2 h2
	{
		font-size:22px;
		padding-bottom:5px;
	}
	.clientcontainer .foundercontainer .staffcontainer .staffcontainerman .managecontainer .managecontainer2 h4
	{
		font-size:16px;
		font-weight:bold;
	}
	/*bestcontainer end*/
	/*webdesigncontainer start*/
	.webdesigncontainer
	{
		width:100%;
		padding:50px 0px 30px 0px;
	}
	.webdesigncontainer .design
	{
		width:100%;
		padding:0px;
	}
	.webdesigncontainer .design .design1
	{
		float:none;
		width:100%;
		text-align:center;
		padding-bottom:40px;
	}
	/*webdesigncontainer end*/
	/*weldingcontainer start*/
	.weldingcontainer
	{
		width:100%;
		padding:40px 0px 50px 0px;
	}
	.weldingcontainer .fittingcontainer
	{
		padding:20px 15px 0px 15px;
	}
	.weldingcontainer .fittingcontainer .fittingcontainerman
	{
		float:none;
		width:100%;
		margin-bottom:15px;
		margin-right:0px;
	}
	/*weldingcontainer end*/
	/*experiencecontainer start*/
	.experiencecontainer
	{
		width:100%;
	}
	.experiencecontainer .playcontainer
	{
		width:100%;
		padding:70px 0px 70px 0px;
	}
	.experiencecontainer .playcontainer .renovationcontainer
	{
		width:300px;
		margin:0px auto;
		text-align:center;
	}
	.experiencecontainer .playcontainer .renovationcontainer span i
	{
		font-size:15px;
		padding:15px;
	}
	.experiencecontainer .playcontainer .renovationcontainer h2
	{
		padding-top:5px;
		font-size:20px;
		margin-left:20px;
	}
	.experiencecontainer .playcontainer .renovationcontainer h3
	{
		padding-top:5px;
		font-size:15px;
	}
	/*experiencecontainer end*/
	/*blogcontainer start*/
	.blogpost
	{
		padding:50px 0px 50px 0px;
		width:100%;
	}
	.blogpost .update
	{
		width:90%;
		padding:20px 15px 0px 15px;
	}
	.blogpost .update .updatepost
	{
		float:none;
		width:100%;
		margin-bottom:20px;
		margin-right:0px;
	}
	.blogpost .update .updatepost .parasub
	{
		padding:0px 25px 0px 25px;
	}
	.blogpost .update .updatepost .parasub h3
	{
		font-size:20px;
		padding:20px 0px 15px 0px;
	}
	.blogpost .update .updatepost .parasub p
	{
		font-size:14px;
		padding:15px 0px 25px 0px;
	}
	/*blogcontainer end*/
	/*footercontainer start*/
	.footercontainer
	{
		width:100%;
	}
	.footercontainer .footersub
	{
		width:100%;
	}
	.footercontainer .footersub .best
	{
		padding:30px 15px 30px 15px;
	}
	.footercontainer .footersub .best .best1
	{
		margin-right:0px;
		margin-left:0px;
		width:100%;
	}
	.footercontainer .footersub .best .best1 h2
	{
		font-size:20px;
		padding-bottom:8px;
	}
	.footercontainer .footersub .best .best2
	{
		width:70%;
		margin-left:0px;
		margin-bottom:10px;
		padding:15px 40px 15px 25px;
		font-size:14px;
	}
	.footercontainer .footersub .best .best3
	{
		width:40%;
		padding:15px 0px 15px 15px;
		font-size:14px;
	}
	/*footercontainer end*/
	/*contactfooter start*/
	.contactfooter
	{
		width:100%;
	}
	.contactfooter .subcontact
	{
		width:100%;
	}
	.contactfooter .subcontact.navigation
	{
		padding:30px 0px 40px 0px;
	}
	.navigation1,.navigation2,.navigation3,.navigation4
	{
		float:none;
		padding:0px 15px;
	}
	.contactfooter .subcontact.navigation .navigation1
	{
		width:280px;
		margin-right:0px;
	}
	.contactfooter .subcontact.navigation .navigation1 img
	{
		width:40%;
	}
	.contactfooter .subcontact.navigation .navigation1 p
	{
		font-size:13px;
		padding:15px 0px 10px 0px;
	}
	.contactfooter .subcontact .navigation .navigation1 .internet
	{
		padding-bottom:20px;
	}
	.contactfooter .subcontact .navigation .navigation2 h2,.contactfooter .subcontact .navigation .navigation4 h2
	{
		font-size:20px;
		margin-bottom:0px;
		padding:10px 0px 10px 0px;
	}
	.contactfooter .subcontact .navigation .navigation2 a,.contactfooter .subcontact .navigation .navigation4 a
	{
		padding:10px 0px 5px 0px;
		font-size:14px;
	}
	.contactfooter .subcontact .navigation .navigation3 h2
	{
		margin-bottom:0px;
		font-size:20px;
		padding:25px 0px 10px 0px;
	}
	.contactfooter .subcontact .navigation .navigation3 .address .address1 span i
	{
		font-size:14px;
	}
	.contactfooter .subcontact .navigation .navigation3 .address .address2
	{
		width:230px;
		font-size:14px;
		padding-top:3px;
		font-family:var(--fontsp);
	}
	.contactfooter .subcontact .navigation .navigation3
	{
		padding-bottom:20px;
	}
	/*lastfooter start*/
	.lastfooter
	{
		width:100%;
		border-top:1px solid #7a7a7a;
	}
	.lastfooter .copyright
	{
		width:100%;
		padding-bottom:20px;
	}
	.lastfooter .copyright .copyright1,.lastfooter .copyright .copyright2
	{
		float:left;
		padding-top:10px;
	}
	.lastfooter .copyright .copyright1
	{
		border-top:0px;
		font-size:14px;
		width:80%;
		margin-left:0px;
	}
	/*lastfooter end*/
}
/* Mobile portrait view responsive code end */
