@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.eot");
  src: url("../fonts/Barlow-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff"), url("../fonts/Barlow-Regular.ttf") format("truetype"), url("../fonts/Barlow-Regular.svg#Barlow-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.eot");
  src: url("../fonts/Barlow-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Barlow-Medium.woff2") format("woff2"), url("../fonts/Barlow-Medium.woff") format("woff"), url("../fonts/Barlow-Medium.ttf") format("truetype"), url("../fonts/Barlow-Medium.svg#Barlow-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.eot");
  src: url("../fonts/Barlow-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Barlow-SemiBold.woff2") format("woff2"), url("../fonts/Barlow-SemiBold.woff") format("woff"), url("../fonts/Barlow-SemiBold.ttf") format("truetype"), url("../fonts/Barlow-SemiBold.svg#Barlow-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.eot");
  src: url("../fonts/Barlow-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Barlow-Bold.woff2") format("woff2"), url("../fonts/Barlow-Bold.woff") format("woff"), url("../fonts/Barlow-Bold.ttf") format("truetype"), url("../fonts/Barlow-Bold.svg#Barlow-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*, html {
  scrollbar-color: #f2c6a0 #e8e8e8 !important;
  scrollbar-width: thin !important;
  outline: unset;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #e8e8e8;
}

::-webkit-scrollbar-thumb {
  background: #f2c6a0;
}

::-webkit-scrollbar-corner {
  background: #000;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Barlow";
}

button {
  background: #ff5e14;
  color: white;
  font-family: "Barlow";
}
button:hover, button.active {
  background: #083791;
  color: white;
}

li {
  list-style: none;
}

p {
  color: #565069;
  font-size: 18px;
  line-height: 26px;
}

h3 {
  font-size: 25px;
  color: #083791;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-weight: 700;
  color: #083791;
  font-size: 40px;
}
h2 span {
  display: block;
  font-size: 18px;
  padding-bottom: 7px;
  color: #ff5e14;
}
@media (min-width: 320px) and (max-width: 480px) {
  h2 {
    font-size: 30px;
  }
  h2 span {
    font-size: 16px;
  }
}

/*navbar start*/
.custom-header {
  margin: 0px -15px;
}
.custom-header .navbar-inverse {
  border: 0px;
}
.custom-header .container {
  width: 1270px;
  padding-right: 50px;
  padding-left: 60px;
}
.custom-header .custom-navbar {
  padding: 25px 0px 30px 0px;
  background: #083791;
  margin-bottom: 0px;
  border-radius: 0px;
}
.custom-header .custom-navbar .navbar-header {
  margin-top: 3px;
}
.custom-header .custom-navbar .navbar-header img {
  width: 20%;
}
.custom-header .custom-navbar .navbar-header a {
  text-decoration: none;
  margin-top: 0px;
  font-size: 28px;
  margin-left: 9px;
  font-weight: bold;
  color: white;
}
.custom-header .custom-navbar .navbar-nav a {
  background: none;
  color: white;
  padding: 15px 12px;
  font-size: 19px;
  font-weight: 500;
  text-shadow: none;
}
.custom-header .custom-navbar .navbar-nav a:hover {
  color: #ff5e14;
}
.custom-header .custom-navbar .navbar-nav .caret {
  color: #758fc1;
}
.custom-header .custom-navbar .navbar-nav li.active a {
  color: #ff5e14;
  background: none;
}
.custom-header .custom-navbar .navbar-nav li a {
  background: none;
}
.custom-header .custom-navbar .navbar-nav button {
  padding: 13px 25px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 15px;
  color: white;
}
.custom-header .custom-navbar .navbar-nav button:hover {
  background: white;
  color: #565069;
}
.custom-header .custom-navbar .navbar-nav li.active a:hover {
  background: none;
}
.custom-header .custom-navbar .navbar-nav .dropdown-menu {
  padding: 0px;
}
.custom-header .custom-navbar .navbar-nav .dropdown-menu a {
  color: #ff5e14;
  background: white;
  padding: 5px;
  font-size: 16px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .custom-header .custom-navbar .navbar-nav .dropdown-menu {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .custom-header .container {
    width: 100%;
    padding: 15px;
  }
  .custom-header .custom-navbar {
    padding: 15px 0px;
  }
  .custom-header .custom-navbar .navbar-nav button {
    margin-left: 12px;
    padding: 12px 15px;
  }
  .custom-header .custom-navbar .navbar-header img {
    width: 11%;
  }
  .custom-header .custom-navbar .navbar-header a {
    font-size: 19px;
  }
  .custom-header .navbar-toggle {
    background: black;
  }
}

/*navbar end*/
/*carousel start*/
.custom-carousal {
  margin: 0px -15px;
  position: relative;
}
.custom-carousal .socialmedia {
  top: 18%;
  right: 1%;
  position: fixed;
}
.custom-carousal .socialmedia li {
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
}
.custom-carousal .socialmedia li i {
  color: white;
  background: #ff5e14;
  border-radius: 100%;
  font-size: 20px;
  padding-top: 8px;
  width: 37px;
  height: 35px;
}
.custom-carousal .item .blueprint {
  position: relative;
}
.custom-carousal .item .blueprint img {
  width: 100%;
  height: 960px;
}
.custom-carousal .item .blueprint::before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.3411764706);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.custom-carousal .item .carousel-caption {
  width: 625px;
  top: 28%;
  bottom: auto;
  text-align: left;
  left: 45%;
  text-shadow: none;
}
.custom-carousal .item .carousel-caption h4, .custom-carousal .item .carousel-caption h2, .custom-carousal .item .carousel-caption p {
  color: white;
  text-align: right;
  font-size: 25px;
  font-weight: bold;
}
.custom-carousal .item .carousel-caption h4 span, .custom-carousal .item .carousel-caption h2 span, .custom-carousal .item .carousel-caption p span {
  color: #ff5e14;
}
.custom-carousal .item .carousel-caption h2 {
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  margin-top: 10px;
}
.custom-carousal .item .carousel-caption p {
  font-weight: normal;
  font-size: 19px;
  line-height: 32px;
  padding: 8px 0px 30px 0px;
}
.custom-carousal .item .carousel-caption .buttons {
  text-align: right;
}
.custom-carousal .item .carousel-caption .buttons button {
  font-size: 19px;
  padding: 13px 29px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .custom-carousal .item .carousel-caption .buttons button {
    padding: 12px 15px;
    font-size: 17px;
  }
}
.custom-carousal .carousel-indicators li {
  background: #083791;
  width: 15px;
  height: 15px;
  border: 0px;
}
.custom-carousal .carousel-indicators li.active {
  background: #ff5e14;
  width: 15px;
  height: 15px;
}
.custom-carousal .carousel-control {
  width: 2%;
}
.custom-carousal .glyphicon-chevron-left, .custom-carousal .glyphicon-chevron-right {
  color: #ff5e14;
  border: 3px solid #ff5e14;
  border-radius: 100%;
  font-size: 30px;
  width: 50px;
  height: 50px;
  padding: 6px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .custom-carousal .carousel-control {
    width: 10%;
  }
  .custom-carousal .item .blueprint img {
    height: 500px;
  }
  .custom-carousal .item .carousel-caption {
    width: 80%;
    top: 17%;
    left: 0%;
  }
  .custom-carousal .item .carousel-caption h4 {
    font-size: 20px;
  }
  .custom-carousal .item .carousel-caption h2 {
    font-size: 30px;
    line-height: 34px;
  }
  .custom-carousal .item .carousel-caption p {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 20px;
  }
}

/*carousel end*/
/*services start*/
.services {
  padding: 80px 0px 40px 0px;
}
.services .construction img {
  width: 100%;
  margin-top: 10px;
}
.services .instruction h3, .services .instruction h4 {
  color: #083791;
  font-size: 22px;
  font-weight: bold;
}
.services .instruction h3 span, .services .instruction h4 span {
  color: #ff5e14;
}
.services .instruction h4 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
  line-height: 49px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .services .instruction h4 {
    font-size: 25px;
    line-height: 33px;
  }
}
.services .instruction p {
  font-size: 20px;
  line-height: 30px;
  padding: 20px 0px 20px 0px;
}
.services .instruction li {
  color: #565069;
  font-size: 20px;
  padding: 0px 0px 15px 0px;
}
.services .instruction li i {
  color: #ff5e14;
  margin-right: 12px;
}
.services .instruction button {
  padding: 13px 28px;
  margin-top: 23px;
  font-size: 20px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .services .instruction button {
    padding: 10px 15px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .services {
    padding: 15px 0px 10px 0px;
  }
  .services .container {
    padding: 15px 0px;
  }
}

/*services end*/
/*modern start*/
.modern {
  padding-bottom: 100px;
}
.modern .machine {
  text-align: center;
  padding: 50px 0px 30px 0px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .modern .machine {
    padding: 30px 0px;
    margin-bottom: 30px;
  }
}
.modern .machine span i {
  color: #ff5e14;
  font-size: 35px;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  background: #f7f8ff;
  padding: 19px 25px 19px 22px;
}
.modern .machine h3 {
  padding-bottom: 5px;
}
.modern .machine:hover, .modern .machine.active {
  box-shadow: 3px 4px 5px 5px #f8f8f8;
}
@media (min-width: 320px) and (max-width: 480px) {
  .modern {
    padding-bottom: 0px;
  }
  .modern .container {
    padding: 15px 0px;
  }
}

/*modern end*/
/*counts start*/
.counts {
  background: #ff5e14;
  margin: 0px -15px;
  padding: 70px 0px 80px 0px;
}
.counts h2, .counts h3 {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.counts h3 {
  font-size: 20px;
  margin-top: 0px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .counts {
    padding: 30px 0px;
  }
  .counts h2 {
    font-size: 30px;
  }
  .counts h3 {
    font-size: 20px;
    padding-bottom: 30px;
  }
}

/*counts end*/
/*contacts start*/
.contracts {
  padding: 70px 0px 80px 0px;
}
.contracts p {
  width: 800px;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 50px;
}
.contracts .complete {
  padding-right: 5px;
}
.contracts .work {
  box-shadow: 6px 1px 8px 6px #eceef3;
  padding: 30px 0px;
  margin-bottom: 20px;
  text-align: center;
}
.contracts .work i {
  color: #ff5e14;
  font-size: 30px;
  border-radius: 100%;
  height: 72px;
  width: 74px;
  padding: 19px 0px;
  box-shadow: 4px 10px 25px 10px #f8f8f8;
}
.contracts .work i:hover, .contracts .work i.active {
  background: #ff5e14;
  color: white;
}
.contracts .work p {
  width: auto;
  padding: 0px 15px 30px 15px;
}
.contracts .work button {
  font-size: 17px;
  padding: 9px 27px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .contracts {
    padding: 20px 0px;
  }
  .contracts p {
    width: 100%;
  }
  .contracts .col-sm-4 {
    padding: 0px;
  }
  .contracts .work {
    margin-bottom: 40px;
  }
}

/*contacts end*/
/*write start*/
.write {
  margin: 0px -15px;
  background: url("../images/video-1.jpg") no-repeat 0px 0px/cover;
  height: 365px;
  color: white;
  position: relative;
}
.write :root {
  --smaller: .75;
}
.write .container {
  color: white;
  padding-top: 100px;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}
.write li {
  display: inline-block;
  font-size: 18px;
  background: #ff5e14;
  width: 175px;
  height: 166px;
  font-weight: normal;
  list-style-type: none;
  padding-top: 20px;
  margin-right: 20px;
  margin-left: 15px;
  margin-bottom: 30px;
  z-index: 1;
  position: relative;
}
@media (min-width: 320px) and (max-width: 480px) {
  .write li {
    font-size: 1em;
    width: 61px;
    height: 115px;
    margin: 0px;
  }
}
.write .control {
  background: none;
  width: 20px;
  height: 90px;
  margin: 0px;
}
.write .control i {
  font-size: 13px;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .write .control {
    width: 13px;
  }
  .write .control i {
    font-size: 11px;
  }
}
.write li span {
  display: block;
  font-size: 60px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .write li span {
    font-size: 35px;
  }
}

/*write end*/
.write::before {
  position: absolute;
  content: "";
  background: rgba(255, 94, 20, 0.4509803922);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*recentwork start*/
.recentwork {
  padding: 80px 0px 70px 0px;
  text-align: center;
}
.recentwork p {
  width: 800px;
  margin: 0px auto;
}
@media (min-width: 320px) and (max-width: 480px) {
  .recentwork p {
    width: 100%;
  }
}
.recentwork .nav-pills {
  width: 830px;
  margin: 0px auto;
  padding: 45px 0px 45px 0px;
}
.recentwork .nav-pills li a {
  border: 1px solid #f3eaea;
  font-size: 13px;
  padding: 8px 30px;
  margin-right: 13px;
  font-weight: 500;
  color: #333333;
  border-radius: 5px;
}
.recentwork .nav-pills li a:hover, .recentwork .nav-pills li a.active {
  background: #ff5e14;
  color: white;
  font-weight: 500;
}
@media (min-width: 320px) and (max-width: 480px) {
  .recentwork .nav-pills {
    width: 100%;
  }
  .recentwork .nav-pills li a {
    margin: 0px 10px 15px 0px;
    padding: 10px 15px;
  }
}
.recentwork .medias {
  position: relative;
}
.recentwork .medias .image {
  width: 100%;
  height: 340px;
  display: block;
  margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .recentwork .medias .image {
    height: auto;
  }
}
.recentwork .medias .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease-in-out;
}
@media (min-width: 320px) and (max-width: 480px) {
  .recentwork .medias .overlay {
    height: 100%;
  }
}
.recentwork .medias .overlay.active {
  height: 100%;
}
.recentwork .medias .overlay .demo {
  position: relative;
}
.recentwork .medias .overlay .demo li {
  padding: 0px 0px 0px 5px;
  margin-top: 110px;
}
.recentwork .medias .overlay .demo li i {
  color: white;
  font-size: 20px;
  padding: 15px 15px;
  border-radius: 5%;
  background: #ff5e14;
  z-index: 1;
  position: relative;
}
.recentwork .medias .overlay .demo h3 {
  font-size: 23px;
  color: white;
  z-index: 1;
  position: relative;
}
.recentwork .medias .overlay .demo h4 {
  font-size: 18px;
  color: white;
  padding-bottom: 5px;
  z-index: 1;
  position: relative;
}
.recentwork .medias .overlay .demo::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 94, 20, 0.7215686275);
  height: 345px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .recentwork .medias .overlay .demo::before {
    height: 430px;
  }
}
.recentwork .medias:hover .overlay {
  height: 100%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .recentwork {
    padding: 30px 0px;
  }
  .recentwork .container {
    padding: 15px 0px;
  }
}

/*recentwork end*/
/*video start*/
.video {
  background: url("../images/video-1.jpg") no-repeat 0px 0px/cover;
  height: 630px;
  margin: 0px -15px;
  text-align: center;
}
.video .play {
  padding-top: 180px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .video .play {
    padding-top: 60px;
  }
}
.video .play .tube {
  border-radius: 100%;
  height: 170px;
  width: 170px;
  margin: 0px auto;
  position: relative;
  background: rgba(255, 94, 20, 0.1921568627);
}
.video .play .tube span {
  position: absolute;
  top: 25%;
  left: 29%;
}
.video .play .tube span i {
  color: white;
  background: #ff5e14;
  border-radius: 100%;
  padding: 24px 27px;
  font-size: 30px;
}
.video .play h3 {
  color: #ff5e14;
  font-size: 35px;
  font-weight: 600;
  margin: 0px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .video .play h3 {
    font-size: 25px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .video {
    height: 350px;
  }
}

/*video end*/
/*population start*/
.population {
  padding: 80px 0px;
}
.population p {
  width: 800px;
  margin: 0px auto;
  text-align: center;
  padding-bottom: 50px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .population p {
    width: 100%;
  }
}
.population .member {
  padding-right: 5px;
}
.population .member .contraction {
  margin-bottom: 20px;
  box-shadow: 13px 14px 10px 10px #eff0f4;
  position: relative;
}
.population .member .contraction .ledge {
  position: relative;
}
.population .member .contraction .ledge .image {
  display: block;
  width: 100%;
  height: 100%;
}
.population .member .contraction .ledge::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.1882352941);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.population .member .contraction .overlay {
  position: absolute;
  bottom: 4px;
  left: 15px;
  right: 0;
  overflow: hidden;
  width: 340px;
  height: 0;
  transition: 0.5s ease-in-out;
}
@media (min-width: 320px) and (max-width: 480px) {
  .population .member .contraction .overlay {
    height: 50%;
    top: 48%;
    bottom: 0%;
    width: 93%;
  }
}
.population .member .contraction .overlay.active {
  height: 100%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .population .member .contraction .overlay.active {
    height: 50%;
    top: 48%;
    bottom: 0%;
  }
}
.population .member .contraction .overlay .demo {
  position: relative;
  text-align: center;
}
.population .member .contraction .overlay .demo h3 {
  padding-top: 125px;
  font-size: 19px;
  z-index: 1;
  position: relative;
}
@media (min-width: 320px) and (max-width: 480px) {
  .population .member .contraction .overlay .demo h3 {
    padding-top: 58px;
  }
}
.population .member .contraction .overlay .demo h4 {
  font-size: 14px;
  padding-bottom: 5px;
  color: #7c7c7c;
  font-weight: 500;
  z-index: 1;
  position: relative;
}
.population .member .contraction .overlay .demo li {
  padding: 0px 0px 0px 3px;
}
.population .member .contraction .overlay .demo li i {
  color: #7c7c7c;
  width: 33px;
  height: 35px;
  font-weight: bold;
  padding-top: 10px;
  border-radius: 100%;
  border: 2px solid #dddddd;
  z-index: 1;
  position: relative;
}
.population .member .contraction .overlay .demo::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 370px;
  background-color: rgba(255, 255, 255, 0.9098039216);
}
@media (min-width: 320px) and (max-width: 480px) {
  .population .member .contraction .overlay .demo::before {
    height: 430px;
  }
}
.population .member .contraction:hover .overlay {
  height: 100%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .population .member .contraction:hover .overlay {
    height: 50%;
    top: 48%;
    bottom: 0%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .population .member {
    padding: 0px;
    margin-bottom: 40px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .population {
    padding: 40px 0px;
  }
  .population .continer {
    padding: 0px;
  }
}

/*population end*/
/*companys start*/
.companys {
  background: #ff5e14;
  margin: 0px -15px;
  padding: 60px 0px 60px 130px;
}
.companys a img {
  width: 180px;
  height: 90px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .companys {
    text-align: center;
    padding: 30px 0px;
  }
}

/*companys end*/
/*map start*/
.map {
  padding: 100px 0px 80px 0px;
}
.map .employe {
  margin-bottom: 20px;
  box-shadow: 13px 14px 10px 6px #eff0f4;
}
.map .employe .blue {
  position: relative;
}
.map .employe .blue img {
  width: 100%;
  height: 480px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .map .employe .blue img {
    height: 350px;
  }
}
.map .employe .blue .manpower {
  position: absolute;
  top: 19%;
  left: 44px;
  width: 270px;
}
.map .employe .blue .manpower h4, .map .employe .blue .manpower button, .map .employe .blue .manpower p {
  position: relative;
  text-align: center;
  z-index: 8;
  font-weight: bold;
  color: #ff5e14;
}
.map .employe .blue .manpower p {
  font-size: 28px;
  line-height: 43px;
  font-weight: bold;
  color: white;
}
.map .employe .blue .manpower .apply {
  text-align: center;
}
.map .employe .blue .manpower .apply button {
  font-size: 19px;
  padding: 12px 30px;
  margin-top: 50px;
  font-weight: 500;
  color: white;
}
.map .employe .blue .manpower .apply button:hover {
  background: white;
  color: #083791;
}
@media (min-width: 320px) and (max-width: 480px) {
  .map .employe .blue .manpower {
    width: 90%;
    left: 5%;
    top: 24%;
  }
  .map .employe .blue .manpower h4 {
    font-size: 17px;
  }
  .map .employe .blue .manpower p {
    font-size: 20px;
    line-height: 30px;
  }
  .map .employe .blue .manpower .apply button {
    padding: 12px 17px;
    margin: 10px 0px 0px 0px;
    font-size: 15px;
  }
}
.map .employe .blue::before {
  position: absolute;
  content: "";
  background: rgba(8, 56, 145, 0.8117647059);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.map .location {
  padding: 8px;
  box-shadow: 13px 14px 10px 10px #eff0f4;
}
.map .location iframe {
  width: 100%;
  height: 470px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .map .location {
    margin-top: 30px;
  }
  .map .location img {
    height: 300px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .map {
    padding: 40px 0px;
  }
  .map .controled {
    padding: 0px;
  }
}

/*map end*/
/*staff start*/
.staff {
  background: #ff5e14;
  padding: 80px 0px;
  margin: 0px -15px;
}
.staff h2 {
  color: white;
}
.staff h2 span {
  color: white;
}
.staff p {
  color: white;
  width: 800px;
  text-align: center;
  margin: 0px auto;
}
@media (min-width: 320px) and (max-width: 480px) {
  .staff p {
    width: 100%;
  }
}
.staff .positions, .staff .position {
  background: white;
  width: 520px;
  margin-top: 80px;
  margin-left: 35px;
  padding: 40px 35px 30px 30px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .staff .positions, .staff .position {
    width: 100%;
    margin: 30px 0px 30px 0px;
  }
}
.staff .positions .image img, .staff .position .image img {
  width: 70px;
  border-radius: 100%;
  margin-bottom: 18px;
}
.staff .positions ul, .staff .position ul {
  margin-bottom: 0px;
}
.staff .positions li h4, .staff .positions li h5, .staff .position li h4, .staff .position li h5 {
  font-size: 25px;
  font-weight: bold;
  color: #ff5e14;
  margin: 0px;
}
.staff .positions li h5, .staff .position li h5 {
  font-size: 16px;
  margin-top: 8px;
}
.staff .positions p, .staff .position p {
  color: #333333;
  width: auto;
  text-align: left;
}
.staff .positions div, .staff .position div {
  padding-top: 20px;
}
.staff .positions div i, .staff .position div i {
  font-size: 24px;
  color: #ff5e14;
  padding-right: 3px;
}
.staff .position {
  margin-left: 0px;
}

/*staff end*/
/*contacts start*/
.contacts {
  padding: 60px 0px 100px 0px;
}
.contacts p {
  width: 800px;
  margin: 0px auto;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 480px) {
  .contacts p {
    width: 100%;
  }
}
.contacts .contact {
  text-align: center;
  padding: 30px 0px 50px 0px;
}
.contacts .contact i {
  font-size: 40px;
  color: #ff5e14;
}
.contacts .contact h3 {
  font-size: 18px;
  font-weight: 500;
}
.contacts .contact h4 {
  color: #083791;
}
@media (min-width: 320px) and (max-width: 480px) {
  .contacts .contact {
    padding-bottom: 30px;
  }
}
.contacts .address {
  background: white;
  box-shadow: 13px 14px 15px 15px #f8f8f8;
  width: 1100px;
  padding: 40px 30px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .contacts .address {
    width: 100%;
  }
}
.contacts .address .names {
  margin-bottom: 20px;
  padding-right: 8px;
}
.contacts .address .names ::-moz-placeholder {
  color: white;
  opacity: 1;
}
.contacts .address .names :-ms-input-placeholder {
  color: white;
  opacity: 1;
}
.contacts .address .names ::placeholder {
  color: white;
  opacity: 1;
}
.contacts .address .names .form-control {
  background: #ff5e14;
  border: 0px solid #ff5e14;
  color: white;
  border-radius: 5px;
  padding: 20px 18px;
  font-size: 16px;
}
.contacts .address .form-group .controles {
  background: #ff5e14;
  width: 510px;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  height: 40px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .contacts .address .form-group .controles {
    width: 102%;
  }
}
.contacts .address .comments .form-control {
  background: #ff5e14;
  border: 1px solid #ff5e14;
  color: white;
  height: 150px;
  font-size: 16px;
}
.contacts .address .comments ::-moz-placeholder {
  color: #ffb492;
  opacity: 1;
}
.contacts .address .comments :-ms-input-placeholder {
  color: #ffb492;
  opacity: 1;
}
.contacts .address .comments ::placeholder {
  color: #ffb492;
  opacity: 1;
}
.contacts .address .sent {
  text-align: center;
  margin-top: 23px;
}
.contacts .address .sent button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 70px 10px 70px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .contacts .address .sent button {
    padding: 10px 40px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .contacts {
    padding: 30px 0px;
  }
  .contacts .container {
    padding: 0px;
  }
}

/*contacts end */
/*types start*/
.types {
  padding-bottom: 70px;
}
.types .container {
  width: 1330px;
  padding-left: 0px;
}
.types .workers {
  padding-left: 2px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .types .workers {
    padding-left: 15px;
  }
}
.types .workimage img {
  width: 100%;
  height: 135px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .types {
    padding: 20px 0px;
  }
  .types .method {
    width: 100%;
    padding: 0px;
  }
  .types .workimage {
    margin-bottom: 30px;
  }
  .types .workimage img {
    height: auto;
  }
}

/*types end*/
/*read start*/
.read {
  text-align: center;
  padding-bottom: 95px;
}
.read p {
  width: 800px;
  margin: 0px auto;
  padding-bottom: 40px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .read p {
    width: 100%;
  }
}
.read .variation {
  box-shadow: 11px 2px 10px 8px #eff0f4;
  position: relative;
}
.read .variation img {
  width: 100%;
}
.read .variation h2 {
  font-size: 25px;
  margin: 0px;
  color: white;
  padding: 22px 40px;
  text-align: center;
  background: rgba(255, 94, 20, 0.8784313725);
  font-weight: bold;
  position: absolute;
  bottom: 21%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .read .variation h2 {
    font-size: 20px;
    padding: 7px 18px;
    bottom: 19%;
  }
}
.read .variation button {
  border: 0px;
  margin: 20px 0px 15px 0px;
  font-size: 18px;
  font-weight: 500;
  color: #083791;
  background: white;
}
.read .variation button:hover {
  color: #ff5e14;
}
.read .variation button a {
  text-decoration: none;
  color: #083791;
}
.read .variation button i {
  color: #ff5e14;
  padding-left: 5px;
}
.read .variation .read:hover {
  color: #ff5e14;
}
@media (min-width: 320px) and (max-width: 480px) {
  .read {
    padding-bottom: 20px;
  }
  .read .container {
    padding: 0px;
  }
  .read .variation {
    margin-bottom: 40px;
  }
}

/*read end*/
/*innovation start*/
.innovation {
  background: #ff5e14;
  margin: 0px -15px;
  padding: 45px 0px 60px 0px;
}
.innovation h3 {
  font-size: 45px;
  color: white;
}
.innovation button {
  background: white;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 33px;
  color: #ff5e14;
  margin-top: 15px;
}
.innovation button:hover {
  background: #083791;
}
@media (min-width: 320px) and (max-width: 480px) {
  .innovation {
    padding: 20px 0px;
  }
  .innovation h3 {
    font-size: 20px;
  }
  .innovation button {
    padding: 15px 20px;
    font-size: 15px;
  }
}

/*innovation end*/
/*footer start*/
.footer {
  background: #0c2239;
  border-bottom: 1px solid #415365;
  padding: 100px 0px 50px 0px;
  margin: 0px -15px;
  color: white;
}
.footer h4 {
  margin: 0px;
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 25px;
}
.footer h4:hover, .footer li a:hover {
  color: #ff5e14;
}
.footer li a {
  text-decoration: none;
  color: white;
  font-weight: 500px;
}
.footer .about {
  margin-bottom: 30px;
  color: white;
}
.footer .about li {
  font-size: 18px;
  padding-bottom: 12px;
}
.footer .addressed {
  margin-bottom: 30px;
}
.footer .addressed li {
  font-size: 18px;
  font-weight: 500px;
  padding-bottom: 15px;
}
.footer .addressed li i {
  padding-right: 10px;
}
.footer .newsletter {
  margin-left: 70px;
  margin-bottom: 30px;
}
.footer .newsletter p {
  color: white;
  padding-bottom: 10px;
}
.footer .newsletter .mail .arrange {
  background: #0c2239;
  border: 1px solid #6d7a88;
  color: #6d7a88;
  font-size: 15px;
  padding: 13px 20px 13px 28px;
}
.footer .newsletter .mail span {
  margin: 0px -3px;
}
.footer .newsletter .mail i {
  color: white;
  background: #ff5e14;
  font-size: 20px;
  padding: 13px 26px 16px 23px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .footer .newsletter {
    margin: 0px;
  }
}

/*footer end*/
/*final start*/
.finalfooter {
  margin: 0px -15px;
  background: #0c2239;
}
@media (min-width: 320px) and (max-width: 480px) {
  .finalfooter .container {
    padding: 15px 0px;
  }
}
.finalfooter .navbar {
  margin: 0px;
}
.finalfooter .navbar-default {
  background: #0c2239;
  border: 0px;
  border-radius: 0px;
  padding: 15px;
}
.finalfooter .navbar-default .navbar-brand {
  color: white;
}
.finalfooter .navbar-default .navbar-nav a {
  color: white;
  font-size: 18px;
}
.finalfooter .navbar-default .navbar-nav a:hover {
  color: #ff5e14;
}

/*finalfooter end*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background: none;
}/*# sourceMappingURL=style.css.map */