@font-face {
  font-family: "Alexandria";
  src: url("../fonts/Alexandria-Regular.eot");
  src: url("../fonts/Alexandria-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Alexandria-Regular.woff2") format("woff2"), url("../fonts/Alexandria-Regular.woff") format("woff"), url("../fonts/Alexandria-Regular.ttf") format("truetype"), url("../fonts/Alexandria-Regular.svg#Alexandria-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alexandria";
  src: url("../fonts/Alexandria-Bold.eot");
  src: url("../fonts/Alexandria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Alexandria-Bold.woff2") format("woff2"), url("../fonts/Alexandria-Bold.woff") format("woff"), url("../fonts/Alexandria-Bold.ttf") format("truetype"), url("../fonts/Alexandria-Bold.svg#Alexandria-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Alexandria;
  font-weight: normal;
  text-shadow: none;
}

/*navbar start*/
.custom-header {
  margin: 0px -15px;
}
.custom-header .custom-navbar {
  padding: 45px 0px 15px 0px;
  background: white;
  border: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
}
.custom-header .custom-navbar .navbar-header {
  margin-top: 5px;
}
.custom-header .custom-navbar .navbar-header a {
  font-size: 19px;
  margin-right: 5px;
  text-decoration: none;
  color: #313036;
  font-weight: bold;
}
.custom-header .custom-navbar .navbar-nav a {
  background: none;
  margin-right: 5px;
  color: #313036;
  margin-left: 20px;
  font-size: 15px;
  font-weight: normal;
}
.custom-header .custom-navbar .navbar-nav a:hover {
  color: #317fec;
}
.custom-header .custom-navbar .navbar-nav li.active a:hover {
  background: none;
}
@media (min-width: 320px) and (max-width: 480px) {
  .custom-header .custom-navbar {
    padding: 15px;
  }
  .custom-header .custom-navbar .navbar-toggle {
    background: black;
  }
}

/*navbar end*/
/*carousal start*/
.custom-carousal {
  margin: 0px -15px;
}
.custom-carousal .carousel-inner {
  background: url("../images/used.jpeg") no-repeat 0px 0px/cover;
}
.custom-carousal .item {
  height: 600px;
}
.custom-carousal .item img {
  height: 100%;
}
.custom-carousal .item .carousel-caption {
  color: black;
  width: 425px;
  text-shadow: none;
  top: 22%;
  left: 18%;
  text-align: left;
  bottom: auto;
}
.custom-carousal .item .carousel-caption h1 {
  font-size: 45px;
  line-height: 56px;
  color: #313036;
  font-weight: bold;
}
.custom-carousal .item .carousel-caption p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #62626a;
  padding: 15px 0px 30px 0px;
}
.custom-carousal .item .carousel-caption .touch {
  background: none;
  padding: 12px 30px;
  color: black;
  font-size: 14px;
  border: 1px solid #62626a;
}
.custom-carousal .item .carousel-caption .touch:hover {
  background: #317fec;
  color: white;
}
.custom-carousal .item .carousel-caption .more {
  background: #317fec;
  color: #f0f3f8;
  font-size: 14px;
  padding: 12px 30px;
  margin-right: 15px;
}
.custom-carousal .carousel-indicators li {
  background: black;
  width: 15px;
  height: 15px;
}
.custom-carousal .carousel-indicators li.active {
  background: #317fec;
}
.custom-carousal .carousel-control .glyphicon-chevron-left, .custom-carousal .carousel-control .glyphicon-chevron-right {
  color: #317fec;
  font-size: 25px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .custom-carousal .item .carousel-caption {
    top: 14%;
    width: 60%;
    left: 25%;
  }
  .custom-carousal .item .carousel-caption h1 {
    font-size: 25px;
    line-height: 36px;
  }
  .custom-carousal .item .carousel-caption p {
    font-size: 14px;
    line-height: 23px;
    padding: 10px 0px 5px 0px;
  }
  .custom-carousal .item .carousel-caption .touch {
    padding: 15px;
  }
  .custom-carousal .item .carousel-caption .more {
    padding: 15px 20px;
    margin-bottom: 15px;
  }
}

/*carousal end*/
/*services star*/
.services {
  padding: 60px 0px 60px 0px;
  text-align: center;
}
.services h2 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 50px;
}
.services h2 span {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: normal;
  text-align: center;
  color: #317fec;
}
.services .callsolution {
  margin-bottom: 20px;
  padding: 25px 15px 20px 15px;
  border-radius: 10px;
  border: 1px solid #d4d4e0;
  text-align: center;
}
.services .callsolution span i {
  margin-top: 0px;
  font-size: 50px;
  color: white;
  border-radius: 100%;
  background: #317fec;
}
.services .callsolution .setting {
  padding: 25px 28px;
}
.services .callsolution .call {
  padding: 23px 28px;
}
.services .callsolution .cloud {
  padding: 25px 23px;
}
.services .callsolution h3 {
  font-size: 25px;
  line-height: 33px;
  font-weight: bold;
}
.services .callsolution p {
  font-size: 15px;
  padding: 5px 0px 0px 0px;
  line-height: 23px;
  color: #62626a;
}
.services button {
  margin-top: 30px;
  border-radius: 5px;
  font-size: 15px;
  padding: 13px 60px 15px 60px;
  border-radius: 7px;
  background: #317fec;
  color: white;
}
.services button:hover {
  background: black;
}
@media (min-width: 320px) and (max-width: 480px) {
  .services .container {
    padding: 0px;
  }
  .services h2 {
    font-size: 30px;
  }
  .services h2 span {
    font-size: 14px;
  }
  .services .callsolution h3 {
    font-size: 20px;
  }
}

/*services end*/
/*reasons start*/
.reasons {
  background: #f0f3f8;
  padding-bottom: 0px;
  margin: 0px -15px;
  text-align: center;
}
.reasons h2 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 30px;
}
.reasons h2 span {
  display: block;
  font-size: 16px;
  padding: 40px 0px 10px 0px;
  font-weight: normal;
  text-align: center;
  color: #317fec;
}
.reasons .choose {
  border: 0px solid red;
  padding: 0px 0px 0px 85px;
  margin-bottom: 50px;
  position: relative;
  text-align: left;
}
.reasons .choose div {
  position: absolute;
  top: 5px;
  left: 3px;
}
.reasons .choose div span {
  color: #317fec;
  font-size: 18px;
  font-weight: bold;
}
.reasons .choose h3 {
  font-size: 27px;
  line-height: 35px;
  padding-bottom: 25px;
  font-weight: bold;
  margin: 0px;
}
.reasons .choose p {
  font-size: 15px;
  line-height: 23px;
  color: #62626a;
}
@media (min-width: 320px) and (max-width: 480px) {
  .reasons h2 {
    font-size: 25px;
  }
  .reasons h2 span {
    font-size: 15px;
  }
  .reasons .choose h3 {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .reasons .choose p {
    font-size: 15px;
  }
}

/*reasons end*/
/*experience start*/
.experience {
  margin: 0px -15px;
  padding: 100px 0px 50px 0px;
}
.experience .year {
  padding-left: 200px;
}
.experience .year .circle {
  position: relative;
}
.experience .year .circle .round {
  margin-top: 20px;
  border: 1px solid #eeeeee;
  box-shadow: 6px 13px 14px #c6d2e0;
  margin-left: 60px;
  text-align: center;
  border-radius: 100%;
  height: 320px;
  width: 320px;
}
.experience .year .circle .round h2 {
  font-size: 25px;
  text-align: center;
  padding: 30px;
  font-weight: bold;
}
.experience .year .circle .round h2 span {
  font-size: 140px;
  padding-bottom: 0px;
  padding-top: 0px;
  color: #317fec;
  display: block;
}
.experience .year .circle .round .circle1 {
  border: 0px solid #eeeeee;
  padding: 25px 26px;
  background: #317fec;
  position: absolute;
  top: 4px;
  right: 80px;
  border-radius: 100%;
}
.experience .year .circle .round .circle2 {
  border: 1px solid #eeeeee;
  padding: 17px 17px;
  background: #317fec;
  border-radius: 100%;
  position: absolute;
  top: 90px;
  right: 80px;
}
.experience .year h2 {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 40px;
}
.experience .year h2 span {
  display: block;
  font-size: 40px;
  color: #317fec;
  font-weight: bold;
  padding-bottom: 5px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .experience {
    padding: 40px 0px;
  }
  .experience .year {
    padding-left: 0px;
  }
  .experience .year .circle .round {
    margin-top: 20px;
    margin-left: 0px;
    border-radius: 100%;
    height: 200px;
    width: 200px;
  }
  .experience .year .circle .round h2 {
    font-size: 15px;
    padding-top: 0px;
  }
  .experience .year .circle .round h2 span {
    font-size: 100px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .experience .year .circle .round .circle1 {
    padding: 20px;
    top: 1px;
    right: 40px;
    border-radius: 100%;
  }
  .experience .year .circle .round .circle2 {
    padding: 12px;
    background: #317fec;
    top: 70px;
    right: 40px;
  }
  .experience .year h2 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .experience .year h2 span {
    font-size: 20px;
    padding-bottom: 5px;
  }
}

/*experience end*/
/*team start*/
.team {
  padding-bottom: 70px;
  text-align: center;
}
.team h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 50px;
}
.team h2 span {
  display: block;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 10px;
  color: #317fec;
}
.team .meeting {
  border: 1px solid #d4d4e0;
  margin-bottom: 20px;
  border-radius: 10px;
}
.team .meeting img {
  width: 100%;
}
.team .meeting h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.team .meeting h4 {
  font-size: 16px;
  padding-bottom: 10px;
  text-align: center;
  color: #63636d;
}
@media (min-width: 320px) and (max-width: 480px) {
  .team h2 {
    font-size: 25px;
    padding-bottom: 30px;
  }
  .team h2 span {
    font-size: 14px;
  }
  .team .container {
    padding: 0px;
  }
}

/*team end*/
/*news start*/
.news {
  background: #f0f3f8;
  text-align: center;
  padding: 20px 0px 80px 0px;
  margin: 0px -15px;
}
.news h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 50px;
}
.news h2 span {
  display: block;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 10px;
  color: #317fec;
}
.news .latests {
  border: 1px solid #d4d4e0;
  border-radius: 15px;
  overflow: hidden;
}
.news .latests .imagenews {
  position: relative;
}
.news .latests .imagenews img {
  width: 100%;
  height: 310px;
}
.news .latests .content {
  padding: 30px 18px 5px 18px;
  background: white;
}
.news .latests .content h4 {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}
.news .latests .content p {
  font-size: 15px;
  text-align: left;
  line-height: 23px;
  color: #63636d;
}
.news .latests .content .date {
  background: #317fec;
  padding: 7px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  color: #f0f3f8;
  width: 90px;
  position: absolute;
  bottom: 100px;
  left: 150px;
}
.news button {
  margin-top: 55px;
  border-radius: 5px;
  font-size: 15px;
  padding: 13px 65px 15px 65px;
  border-radius: 7px;
  background: #317fec;
  color: white;
}
.news button:hover {
  background: black;
}
@media (min-width: 320px) and (max-width: 480px) {
  .news {
    padding: 20px 0px;
  }
  .news h2 {
    font-size: 25px;
  }
  .news h2 span {
    font-size: 15px;
  }
  .news .latests {
    margin-bottom: 20px;
  }
  .news .latests .content {
    padding: 15px 10px 5px 10px;
  }
  .news .latests .content h4 {
    font-size: 18px;
  }
  .news .latests .content p {
    font-size: 14px;
  }
  .news .latests .content .date {
    bottom: 93px;
    left: 130px;
  }
  .news button {
    margin-top: 15px;
  }
}

/*news end*/
/*footer start*/
.footer {
  background: #313036;
  padding: 80px 0px 60px 0px;
  border-bottom: 1px solid #62626a;
  margin: 0px -15px;
  color: #f0f3f8;
}
.footer .company {
  color: #d4d4e0;
}
.footer .company a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding-right: 5px;
  color: #f0f3f8;
}
.footer .company a:hover {
  color: #317fec;
}
.footer .company p {
  font-size: 15px;
  line-height: 26px;
  padding: 20px 0px 40px 0px;
}
.footer .company li {
  list-style: none;
  display: inline-block;
}
.footer .company li span i {
  font-size: 20px;
  margin-left: 2px;
  border: 1px solid #d4d4e0;
  border-radius: 5px;
  padding: 8px 13px;
}
.footer .company li span .facebook {
  margin-left: 0px;
}
.footer .company li span .instagram {
  padding: 8px 10px;
}
.footer .company li span .in {
  padding: 8px 10px;
}
.footer .company li span .twitter {
  padding: 8px 10px;
}
.footer .apps, .footer .offer {
  margin-left: 80px;
}
.footer .apps li, .footer .offer li {
  list-style: none;
  padding-bottom: 18px;
}
.footer .apps li a, .footer .offer li a {
  text-decoration: none;
  color: #d4d4e0;
  font-size: 15px;
}
.footer .apps li a:hover, .footer .offer li a:hover {
  color: #317fec;
}
.footer .apps li:nth-child(1) a, .footer .offer li:nth-child(1) a {
  font-size: 20px;
  color: #f0f3f8;
}
.footer .apps li:nth-child(1) a:hover, .footer .offer li:nth-child(1) a:hover {
  color: #317fec;
}
.footer .offer {
  margin-left: 70px;
}
.footer .address h3 {
  margin: 0px;
  color: #f0f3f8;
  font-size: 19px;
  padding: 2px 0px 20px 0px;
}
.footer .address li {
  list-style: none;
  font-size: 15px;
  padding-bottom: 20px;
  color: #d4d4e0;
}
.footer .address li i {
  font-size: 20px;
  margin-right: 8px;
}
.footer .address li .map {
  font-size: 27px;
}
.footer .address li .phones {
  font-size: 28px;
  margin-top: 8px;
}
.footer .address h4 {
  padding-bottom: 10px;
}
.footer .address input {
  color: #d4d4e0;
  border: 1px solid #f0f3f8;
  background: #313036;
  padding: 13px 0px 13px 17px;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 10px;
}
.footer .address .subscribe {
  padding: 13px 28px;
  border-radius: 6px;
}
.footer .address .subscribe:hover {
  background: black;
  color: #317fec;
}
@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    padding: 50px 0px 50px 0px;
  }
  .footer .company {
    margin-bottom: 40px;
  }
  .footer .company p {
    padding: 20px 0px 30px 0px;
  }
  .footer .apps, .footer .offer {
    margin-left: 0px;
    margin-top: 40px;
  }
  .footer .apps li a, .footer .offer li a {
    font-size: 14px;
  }
  .footer .offer {
    margin-left: 0px;
  }
  .footer .address {
    padding-top: 20px;
  }
  .footer .address li {
    font-size: 14px;
  }
  .footer .address li .map {
    font-size: 20px;
  }
  .footer .address li .phones {
    font-size: 20px;
    margin-top: 0px;
  }
  .footer .address h4 {
    padding-bottom: 10px;
  }
  .footer .address input {
    padding: 13px 0px 13px 10px;
    margin-right: 5px;
  }
  .footer .address .subscribe {
    padding: 13px 10px;
  }
}

/*footer end*/
/*final-footer start*/
.final-footer {
  background: #313036;
  margin: 0px -15px;
  padding: 30px 0px 25px 0px;
}
.final-footer .navbar {
  min-height: 0px;
  margin-bottom: 0px;
}
.final-footer .navbar-inverse {
  background: none;
  padding: 0px;
  border: none;
  color: none;
}
.final-footer .navbar-inverse .navbar-text {
  color: #d4d4e0;
}
.final-footer .navbar-inverse .navbar-nav li {
  padding: 0px;
  color: #f0f3f8;
  font-size: 15px;
}
.final-footer .navbar-inverse .navbar-nav li a {
  padding: 15px 15px 0px 0px;
  color: #d4d4e0;
  margin-right: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #f0f3f8;
}
@media (min-width: 320px) and (max-width: 480px) {
  .final-footer {
    padding: 20px 0px;
  }
  .final-footer .navbar-inverse .navbar-nav li {
    padding: 0px 15px;
    font-size: 13px;
  }
  .final-footer .navbar-inverse .navbar-nav .navfirst {
    width: 190px;
  }
}

/*final-footer end*//*# sourceMappingURL=style.css.map */